---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import avatarRef from "../images/avatar.jpg";
import SocialPill from "../components/SocialPill.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import GithubIcon from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../components/icons/BriefCase.astro";
import Code from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout
	title="Portfolio de Franco - Desarrollador y Programador web - mobile"
	description="Contrata a Franco Treboux para crear tu aplicacion web o móvil. Desarrollador web."
>
	<main class="px-4 md:w-screen">
		<SectionContainer class="py-44 pb-24">
			<h1
				class="text-white text-xl lg:text-3xl md:text-4xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
			>
				Hey, soy Franco Treboux
				<a
					href="https://www.linkedin.com/in/franco-treboux/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-white text-2xl text-wrap opacity-80">
				En proceso de formacion para fullstack developer. <hr />
				De Argentina
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill
					alt="linkedin Franco Treboux"
					href="https://www.linkedin.com/in/franco-treboux/"
				>
					<LinkedinIcon class="size-4 lg:size-6" />LinkedIn
				</SocialPill>
				<SocialPill
					alt="github Franco Treboux"
					href="https://github.com/francot77"
				>
					<GithubIcon class="size-4 lg:size-6" />Github
				</SocialPill>
				<SocialPill
					alt="Send Email"
					href="mailto:francotrxdev@gmail.com"
				>
					<MailIcon class="size-4 lg:size-6" />Send Email
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2
				class="text-white text-2xl font-semibold mb-6 flex gap-x-4 items-center"
			>
				<BriefCase class="size-8" />
				Experiencia
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<h2
				class="text-white text-2xl font-semibold mb-6 flex gap-x-4 items-center"
			>
				<Code class="size-8" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>
