---
import ExperienceItem from "../components/ExperienceItem.astro";
const EXPERIENCE: any[] = [
    {
        date: "2022-2023",
        title: "Freelance",
        description:
            "Realicé algunos trabajos para  clientes de forma autónoma",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-4">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
